h1 {
  color: aquamarine;
}
h2 {
  color: deeppink;
}
img {
  height: 100px;
}
.pink {
  color: pink;
}
.red {
  color: red;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#small_purple {
  color: purple;
  font-size: x-small;
}
