ul, ol, li {
  list-style-type: none;
}

/* Home Page*/
header{
  display: grid;
  grid-template-columns: 150px auto;
}
nav a {
  text-align: center;
  color: #675182;
  text-decoration: none;
  padding: 35px;
  display: block;
  padding: 15px;
  font-size: 30px;
}
nav a:hover {
  color: #383734;
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
#logo-link {
  align-self: center;
  justify-self: center;
  padding-top: 5px;
}
.logo {
  height: 100px;
  width: auto;

}
body {
  background-color: #efe1b7;
  font-family: Heebo, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  max-width: 1600px;
  margin: 0 auto;
}
#backimage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: -110px;
}
.cuttingboard {
  grid-column: 1/8;
  z-index: -1;
  width: 100%;
}
#home-title {
  grid-column: 4/5;
  font-size: 50px;
  margin-top: -700px;
}
.main-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.about-title{
  grid-column: 2/3;
}
.about-p{
  grid-column: 2/4;
  grid-row: 2/auto;
}
.audience-title{
  grid-column: 5/6; 
}
.audience-p{
  grid-column: 5/7;
  grid-row: 2/auto;
}
.contact-title{
  grid-column: 8/9;
}
.contact-p{
  grid-column: 8/10;
  grid-row: 2/auto;
}
footer {
  background-color: black;
  color: white;
  padding: 25px 50px;
  padding-top: 15px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/* Recipe Page Add-ons*/
#backimage2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: -110px;
}
.fire {
  grid-column: 1/8;
  z-index: -1;
  width: 100%;
}
.recipe-title{
  grid-column: 4/5;
  font-size: 50px;
  margin-top: -800px;
  color: white;
}
.quesadilla{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 100px);
  margin-top: 100px;
}
.quesadilla-title{
  grid-column: 3/5;
  grid-row: 1/2;
}
.quesadilla-ingredients{
  grid-column: 2/6;
  grid-row: 2/4;
}
.quesadilla-steps{
  grid-column: 2/6;
  grid-row: 5/8;
}
.quesadilla-img{
  grid-column: 7/10;
  grid-row: 1/auto;
  width: 100%;
}

.spaghetti{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 100px);
  margin-top: 100px;
}
.spaghetti-title{
  grid-column: 7/9;
  grid-row: 1/2;
}
.spaghetti-ingredients{
  grid-column: 6/10;
  grid-row: 2/4;
}
.spaghetti-steps{
  grid-column: 6/9;
  grid-row: 5/8;
}
.spaghetti-img{
  grid-column: 2/5;
  width: 100%;
}

.potato{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 100px);
  margin-top: 100px;
}
.potato-title{
  grid-column: 3/5;
  grid-row: 1/2;
}
.potato-ingredients{
  grid-column: 2/6;
  grid-row: 2/4;
}
.potato-steps{
  grid-column: 2/6;
  grid-row: 7/9;
}
.potato-img{
  grid-column: 6/10;
  grid-row: 2/auto;
  width: 100%;
}


/* FAQs Page Add-ons */
#faqimage{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: -110px;
}
.questions {
  grid-column: 1/8;
  z-index: -1;
  width: 100%;
}
.faqs-title {
  grid-column: 4/5;
  font-size: 50px;
  margin-top: -700px;
}
.central-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-top: 200px;
}
.box{
  background-color: antiquewhite;
  grid-column: 2/10;
}
.q1{
  grid-column: 2/10;
}
.a1{
  grid-column: 3/10;
}
.q2{
  padding-top: 50px;
  grid-column: 2/10;
}
.a2{
  grid-column: 3/10;
}
.q3{
  padding-top: 50px;
  grid-column: 2/10;
}
.a3{
  grid-column: 3/10;
}